html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

button {
    margin-left: 8px;
    font-family: monospace;
    font-size: 13px;
}

#options {
    width: 100%;
    height: 5%;
    min-height: 21px;
    text-align: center;
    font-family: monospace;
    font-size: 16px;
}

#toggleNotifs {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
}

#chat {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 95%;
    font-family: serif;
    font-size: 18px;
}

#nameForm {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#messageContainer {
    width: 100%;
    height: 90%;
    word-wrap: break-word;
    overflow-y: scroll;
}

#messages {
    list-style: none;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

#messages li {
    margin-bottom: 8px;
}

#chatFormContainer {
    width: 100%;
    height: 10%;
    text-align: center;
}

#chatForm {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
}

[data-id] {
   font-weight: bolder;
}
